body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 550px;
  background: #fff;
  margin: 10px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 5px;
  margin: 0px 0px 10px;
}

.content {
  font-size: 20px;
  background: #e3f4ff;
  padding: 20px 0 20px;

}

.button-container {
  font-size: 20px;
  margin-top: 12px;
  text-align: center;
  background: #e3f4ff;
  padding: 10px 0px 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: inline-block;
  padding: 10px 20px;
}